{% load static %}

{% include "inc/_inc.html" %}

{% include "inc/_header.html" %}

    <div>
        <form method="get">
            {{ filter.form.as_p }}
            <input type="submit" />
        </form>
    </div>

    <!-- service_area_start  -->
    <div class="service_area">
        <div class="container">
            <div class="row justify-content-center ">
                <div class="col-lg-7 col-md-10">
                    <div class="section_title text-center mb-95">
                        <h3>Книги доступные каждому</h3>
                        <p>Сайт городской библиотеки </p>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                {% for book in filter.qs %}
                    <div class="col-lg-4 col-md-6">
                        <div class="single_service">
                            <div>
                                <img src="/media/{{ book.book_img }}" class="mx-auto d-block" style="height: 200px; width: 150;">
                            </div>
                             <div class="service_content text-center">
                                 <h3>{{ book.book_name }}</h3>
                                    {% for author in book.authors.all %}
                                       <p>{{ author.last_name }}</p>
                                    {% endfor %}
                             </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

    {% comment %}
    <form action="" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn">Отправить результат</button>
    </form>
    {% endcomment %}

{% include "inc/_footer.html" %}

